@font-face {
  font-family: karnak;
  src: url(KarnakPro-Bold.ttf);
}

@font-face {
  font-family: sans;
  src: url(ClearSans-Medium.ttf);
}

html {
  background-color: #121213;
}

body {
  margin: 0;
}

h1 {
  font-family: karnak;
  text-align: center;
  color: white;
  font-size: 50px;
}

h2 {
  font-family: sans;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: sans;
}

.letter-box {
  border: 2px solid rgb(94, 94, 94);
  border-radius: 1px;
  margin: 2px;
  font-size: 2rem;
  font-weight: 700;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid rgb(184, 184, 184);
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
}

#keyboard-cont button {
  background-color: #818384;
  border: none;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard-button {
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: sans;
  color: white;
}

.popupBack {
  position: absolute;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
}

.popupBack.active {
  transition: 1s;
  visibility: visible;
  opacity: 100%;
}

#popup, #popupSad {
  z-index: 1000;
  max-width: 500px;
  width: 70%;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #121213;
  color: white;
  text-align: center;
  display: none;
}

#popup img {
  width: 80%;
}

#popupSad img {
  width: 80%;
}

.popupLeft {
  text-align: left;
}

.noSpace {
  margin: 0;
  padding: 0;
  width: 0%;
}

@media screen and (max-width: 768px) {
  .keyboard-button {
    padding: 0.6rem;
  }

  .letter-box {
    height: 2.7rem;
    width: 2.7rem;
    font-size: 1.3rem;
    margin: 1.5px;
  }

  h1 {
    font-size: 40px;
  }

  #popup h2 {
    font-size: 18px;
  }

  #popupSad h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 375px) {
  .keyboard-button {
    padding: 0.4rem;
  }

  .letter-box {
    height: 2.5rem;
    width: 2.5rem;
  }

  h1 {
    font-size: 40px;
  }
}


